<div [ngClass]="['footer']">
    <ul>
        <li>
            <a href="">Become a Seller</a>
        </li>
        <li>
            <a href="">Policies</a>
        </li>
        <li>
            <a href="">Term and Condition</a>
        </li>
        <li>
            <a href="">Help center</a>
        </li>
        <li>
            <a href="">News</a>
        </li>
        <li>
            <a href="">FaceBook</a>
        </li>
        <li>
            <a href="">YouTube</a>
        </li>
        <li>
            <a href="">Instagram</a>
        </li>
    </ul>

</div>
